@model RDKSDatabase.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CUS_FNAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BADGE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BADGE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOTES)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOTES)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOTES_2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOTES_2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LICENSE_PLATE">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
