@model RDKSDatabase.Models.Permit

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Permit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermitNumberPrefix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermitNumberPrefix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermitNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermitNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacilityCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacilityCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermitApplicationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermitApplicationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedVolume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.units)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.units)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedLoads)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedLoads)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContaminateLoadsDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContaminateLoadsDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContaminateLoadsComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContaminateLoadsComments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContaminatedLoads)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContaminatedLoads)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermitSentToOperatorAndWMF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermitSentToOperatorAndWMF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermitSavedOnServerAndFiled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermitSavedOnServerAndFiled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HardCopyPermitSavedInFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HardCopyPermitSavedInFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermitClosedCardPermissionsRevolked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermitClosedCardPermissionsRevolked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermitStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermitStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermitType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermitType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermitFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermitFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationFeeInvoiced)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationFeeInvoiced)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicantPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicantEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hauler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hauler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hauler2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hauler2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CUS_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CUS_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WasteGenerator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WasteGenerator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material.MaterialType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PermitNumberPrefix" />
        <input type="hidden" asp-for="PermitNumber" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
