@model RDKSDatabase.Models.Transaction

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LICENSE_PLATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LICENSE_PLATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_COMPLETION_DATE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_COMPLETION_DATE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_COMPLETION_TIME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_COMPLETION_TIME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_LOAD_NUM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_LOAD_NUM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_NETWEIGHT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_NETWEIGHT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_TOTALPRICE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_TOTALPRICE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_HAULER)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_HAULER)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_DRIVER_EXEMPT_STATUS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_DRIVER_EXEMPT_STATUS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VALID_IMPORT_CODE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VALID_IMPORT_CODE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_CONTRACT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_CONTRACT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_OPERATION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_OPERATION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_STATUS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_STATUS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_ISMANUAL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_ISMANUAL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_HASEXCEPTION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_HASEXCEPTION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_SOURCE_TYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_SOURCE_TYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_ADJUSTED_PRICE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_ADJUSTED_PRICE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_FACILITY_CODE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_FACILITY_CODE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_TONNES)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_TONNES)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_CUBIC_METERS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_CUBIC_METERS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_IN_SERVICE_AREA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_IN_SERVICE_AREA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_ASC_NON_ASC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_ASC_NON_ASC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_FUNCTION)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_FUNCTION)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_CURBSIDE_AREA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_CURBSIDE_AREA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_CURBSIDE_STREAM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_CURBSIDE_STREAM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_ANNUAL_REPORTING_GROUP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_ANNUAL_REPORTING_GROUP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_ANNUAL_REPORTING_SOURCE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_ANNUAL_REPORTING_SOURCE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRANS_SERVICE_AREA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRANS_SERVICE_AREA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CUS_FNAME)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TRANS_NUM" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
